#carouselWrappy {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    max-width: 100%;

    height: 100vh;
    max-height: 100%;
}

.carousel-item img {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    object-position: 50% 50%;
}