#carouselWrappy {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    max-width: 100%;

    height: 100vh;
    max-height: 100%;

    background-color: #000000;
}

.carousel-item img {
    width: 100vw;
    height: 100vh;
    object-fit: scale-down;
    object-position: 50% 50%;
    backdrop-filter: blur(50px);
}

#endSlideshow {
    position: fixed;
    bottom: -50px;
    transition: bottom .25s ease-in-out;
}

.blap {
    bottom: 5px;
    transition: bottom .25s ease-in-out;
    z-index: 2000;
}